@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* Barra de navegacion */
.navbar {
  padding: 2rem;
  background-color: #c2bcd3;
  font-family: 'Aclonica', sans-serif;

}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  /*background-image: url("imagenes/mecatronica.jpg");*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #000000;
  background-color: #c2bcd3;
  padding-top: 22px;
  border-radius: 20px;
  width: 450px;
  height: 150px;
  font-size: 2.8rem;
  font-family: 'Aclonica', sans-serif;
  position: relative;
    z-index: 2;
}

.seccion-oscura {
  color: white;
  background-color: #26172b;
}

.seccion-clara {
  color: #000000;
  background-color: #c2bcd3;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Aclonica', sans-serif;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #000000;
  font-family: 'Aclonica', sans-serif;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  /*background-image: url(/imagenes/fondo.jpg);*/
  min-height: 45px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  position: relative;
  

}

.hero:before{
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("imagenes/fondo.jpg");
    
}

.hero-principal {
  padding: 2.2rem;
  /*background-image: url("imagenes/mecatronica.jpg");*/
  position: relative;
  
}


.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
  position: relative;
  z-index: 2;
}

#typewriter {
  font-family: 'Aclonica', sans-serif;
  color: #3e2447;
} 


.hero-principal h2 {
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
  padding-top: 20px;
}

.hero-inferior-imagen{
  opacity: 0.7;
  z-index: 2;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 70px;
}

/* Sobre mi */

.sobre-mi {
  max-height: 1600px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;  
}

.sobre-mi .contenedor {
  padding: 20px;
  max-width: 800px;
  max-height: 2000px;
  text-align: center;
  align-items: center;
  justify-content: center;  
}

.sobre-mi img{
  height: 85%;
  width: 80%;
  border-radius: 40px;
  display: block;
  transition: all 0.2s ease;
}
.sobre-mi .columna{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 5px;
}
/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #190c294d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #26172b;
}

.experiencia i {
  font-size: 2.5rem;
  color: #dac137;
  background-color: #26172b;
  padding: 8px 19px;
  border-radius: 50%;
  list-style: none;
}
.experiencia a:hover i{
  color: #26172b;
  background-color: #c2bcd3;
  border: 2px solid #26172b;
  list-style: none;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  font-family: 'Aclonica', sans-serif;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 10px;
  background-color: #26172b;
  border: 2px solid #dbd7e04d;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: #3e2447;
  font-size: 60px;
  margin: 10px;
}
.boton{
  background-color: #dac137;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-family: 'Aclonica', sans-serif;
}

/* Articulos */

.articulos {
  min-height: 500px;
  padding: 40px;
  background-color:#26172b;
}

.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
  background-color: #c2bcd3;
  list-style: none;
}

.articulos .card-header {
  font-weight: bold;
}
.articulos list-group {
  background-color: #000000;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background: linear-gradient(#26172b, #dac137);
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px #5c5252;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}